// Корневые переменные проекта

:root {
    // ЦВЕТА

    // Основная гамма
    --color-accent: #D41443;
    --color-accent-dark: #C7133E;
    --color-accent-medium: #FFA5BA;
    --color-accent-light: #FFB8CA;

    // Фоновые цвета (секции, модалка, социальные значки)
    --color-bg-light: #FFF5F6;
    --color-bg-modal: #E17992;
    --color-bg-social: #FEA5BB;

    // Дополнительные фоновые цвета 
    --color-bg-ice-coffee: #F0D1A5;
    --color-bg-milkshakes: #C2E297;
    --color-bg-swipe: #E5E5E5;
    --color-bg-swiper-text: #FAFAFA;
    
    // ШРИФТЫ
    
    // Простой текстовый шрифт
    --font-base: 'DM Sans', sans-serif;
    --font-accent: 'Titan One', cursive;
    // 
}