<section id="contact" class="contacts">
  <div class="container">
    <h3 class="visually-hidden">Our Contacts</h3>
    <ul class="contacts-list">
      <li class="contacts-list__item">
        <p class="contacts__сategory">CAFE</p>
        <p class="contacts__place">Chicago</p>
        <p class="contacts__category-descr">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <div class="schedule-outline">
          <ul class="schedule-list">
            <li class="contacts__work-day">Monday - Friday</li>
            <li class="contacts__work-time">06:00 AM - 10:00 PM</li>
            <li class="contacts__work-day">Saturday - Sunday</li>
            <li class="contacts__work-time">08:00 AM - 16:00 PM</li>
          </ul>
        </div>
        <div class="contact-link__wrap">
          <a href="tel:+610383766284" class="contact-phone">+61(0) 383 766 284</a>
          <a href="mailto:noreply@envato.com" class="contact-mail">noreply@envato.com</a>
        </div>
      </li>
      <li class="contacts-list__item">
        <p class="contacts__сategory2">FOOD TRUCK</p>
        <p class="contacts__place">Los Angeles</p>
        <p class="contacts__category-descr">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <div class="schedule-outline">
          <ul class="schedule-list">
            <li class="contacts__work-day">Monday - Friday</li>
            <li class="contacts__work-time">06:00 AM - 10:00 PM</li>
            <li class="contacts__work-day">Saturday - Sunday</li>
            <li class="contacts__work-time">08:00 AM - 16:00 PM</li>
          </ul>
        </div>
        <div class="contact-link__wrap">
          <a href="tel:+610383766284" class="contact-phone">+61(0) 383 766 284</a>
          <a href="mailto:noreply@envato.com" class="contact-mail">noreply@envato.com</a>
        </div>
      </li>
      <li class="contacts-list__item">
        <p class="contacts__сategory">CAFE</p>
        <p class="contacts__place">New York</p>
        <p class="contacts__category-descr">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <div class="schedule-outline">
          <ul class="schedule-list">
            <li class="contacts__work-day">Monday - Friday</li>
            <li class="contacts__work-time">06:00 AM - 10:00 PM</li>
            <li class="contacts__work-day">Saturday - Sunday</li>
            <li class="contacts__work-time">08:00 AM - 16:00 PM</li>
          </ul>
        </div>
        <ul class="contact-link__wrap">
          <li><a href="tel:+610383766284" class="contact-phone">+61(0) 383 766 284</a></li>
          <li><a href="mailto:noreply@envato.com" class="contact-mail">noreply@envato.com</a></li>
        </ul>
      </li>
    </ul>
    <ul class="contact-btns-wrap">
      <li class="btns-wrap-item">
        <button
          type="button"
          class="btn btn--dark contacts__btn contacts__btn--dark"
          data-modal-open3
        >
          Our Locations
          <svg class="contacts__btn-icon contacts__btn-icon--dark">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li>
        <button
          type="button"
          class="btn btn--light contacts__btn contacts__btn--light"
          data-modal-open12
        >
          Franchise
          <svg class="contacts__btn-icon contacts__btn-icon--light">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
</main>
