<div class="wrapper">
    <div class="container">
        <div class="swiper">
            <div class="swiper swiper-wrapper">
                <div class="swiper-slide">
                    <picture>
                        <source srcset="
                        ./images/emily-x1.png 1x,
                        ./images/emily-x2.png 2x"/>
                        <img src="" alt="emily">
                    </picture>
                    <p class="swiper-slide__text"> 
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. 
                        Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. 
                        Lorem ipsum primis in nibh vel risus.</p>
                        <P>Emily, Los Angeles</P>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source srcset="
                        ./images/olga-x1.png 1x,
                        ./images/olga-x2.png 2x"/>
                        <img src="" alt="olga">
                    </picture>
                    <p class="swiper-slide__text"> 
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. 
                        Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. 
                        Lorem ipsum primis in nibh vel risus.</p>
                        <P>Olga, Los Angeles</P>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source srcset="
                        ./images/natali-x1.png 1x,
                        ./images/natali-x2.png 2x"/>
                        <img src="" alt="natali">
                    </picture>
                    <p class="swiper-slide__text"> 
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. 
                        Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. 
                        Lorem ipsum primis in nibh vel risus.</p>
                        <P>Natali, Los Angeles</P>
                </div>
            </div>
        </div>
    </div>
</div>