<div class="wrapper">
    <div class="container">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <picture>
                        <source  srcset="
                        ./images/emily-x1.png 1x,
                        ./images/emily-x2.png 2x"/>
                        <img class="swiper-slide__picture" src="" alt="emily">
                    </picture>
                    <svg class="swiper-slide__quotes">
                        <use href="./images/sprite.svg#icon-quotes"></use>
                    </svg>
                    <p class="swiper-slide__text"> 
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. 
                        Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. 
                        Lorem ipsum primis in nibh vel risus.</p>
                        <div class="swiper-slide__circle">
                            <span class="swiper-slide__circle-icon"></span>
                            <span class="swiper-slide__circle-icon"></span>
                            <span class="swiper-slide__circle-icon"></span>
                        </div>
                        <P class="swiper-slide__contact">Emily, Los Angeles</P>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source srcset="
                        ./images/olga-x1.png 1x,
                        ./images/olga-x2.png 2x"/>
                        <img src="" alt="olga">
                    </picture>
                    <svg class="swiper-slide__quotes">
                        <use href="./images/sprite.svg#icon-quotes"></use>
                    </svg>
                    <p class="swiper-slide__text"> 
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. 
                        Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. 
                        Lorem ipsum primis in nibh vel risus.</p>
                        <div class="swiper-slide__striper"></div>
                        
                        <div class="swiper-slide__circle">
                            <span class="swiper-slide__circle-icon"></span>
                            <span class="swiper-slide__circle-icon"></span>
                            <span class="swiper-slide__circle-icon"></span>
                        </div>
                        <P class="swiper-slide__contact">Olga, Los Angeles</P>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source srcset="
                        ./images/natali-x1.png 1x,
                        ./images/natali-x2.png 2x"/>
                        <img src="" alt="natali">
                    </picture>
                    <svg class="swiper-slide__quotes">
                        <use href="./images/sprite.svg#icon-quotes"></use>
                    </svg>
                    <p class="swiper-slide__text"> 
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. 
                        Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. 
                        Lorem ipsum primis in nibh vel risus.</p>
                        <div class="swiper-slide__circle">
                            <span class="swiper-slide__circle-icon"></span>
                            <span class="swiper-slide__circle-icon"></span>
                            <span class="swiper-slide__circle-icon"></span>
                        </div>
                        <P class="swiper-slide__contact">Natali, Los Angeles</P>
                </div>
            </div>
            <div class="swiper-pagination swiper-slide__dots--active">
        </div>
    </div>
</div>