<section class="section gallery">
  <div class="container gallery_container">
    <h2 class="visually-hidden">GALLERY</h2>
    <img class="gallery_img" srcset="./images/mobile/gallery-mob.png  320w,
                  ./images/mobile/gallery-mobx2.png 640w,
                  ./images/tablet/gallery-tablet.png 768w,
                  ./images/tablet/gallery-tabletx2.png 1536w,
                  ./images/desktop/gallery-desktop.png 1280w,
                  ./images/desktop/gallery-desktopx2.png 2560w" src="./images/mobile/gallery-mob.png"
      alt="галерея картинок с мороженым" sizes=" (min-width: 1280px) 1280px, (min-width: 768px) 768px, 320px">
    <div class="overley"></div>
  </div>
</section>