<header class="header">
    <div class="container header-container">
        <img src="./images/logo-vector.svg" alt="logo" />
        <nav class="site-nav">
          <ul class="site-nav__list">
            <li class="site-nav__item"> <a class="site-nav__link" href="./index.html">Home</a></li>
            <li class="site-nav__item"> <a class="site-nav__link" href="#about">About us</a></li>
            <li class="site-nav__item"> <a class="site-nav__link" href="#how-its-made">How it's made?</a></li>
            <li class="site-nav__item"> <a class="site-nav__link" href="#products">Our products</a></li>
            <li class="site-nav__item"> <a class="site-nav__link" href="#contact">Contact</a></li>
          </ul>
        </nav>
          <ul class="header-btn__list">
          <li>
            <button class="btn menu-btn" type="button" aria-label="burger button">
            <svg class="menu-btn__icon" width="20" height="12">
              <use
                class="header__btn-icon"
                href="./images/sprite.svg#icon-burger"
              ></use>
            </svg>
          </button>
        </li>
          <li>
            <button type="button" class="btn header__btn btn--light" aria-label="mobile menu button" data-modal-open>
            Buy now
            <svg class="header__btn-icon header__btn-icon--margin" width="8" height="10">
              <use href="./images/sprite.svg#icon-arrow"></use>
            </svg>
          </button>
        </li>
        </ul>
    </div>
    <include src="./partials/mobmenu.html"></include>
  </header>

  <main>
    <section class="hero">
      <div class="container hero-container">
        <div class="hero-sections">
          <!-- hero left section heading modal text -->
            <div class="hero__wrap">
        <h1 class="hero__title">
          ice cream<br />
          made with<br /><span class="hero__title--dark-part">passion</span>
        </h1>

          <ul class="hero__btn-list">
            <li class="hero__btn-item"><a class="hero__btn-link hero__btn-link--dark" href="#products">Products</a></li>
            <li class="hero__btn-item"><a class="hero__btn-link hero__btn-link--light" href="#how-its-made">How it's made?</a></li>
          </ul>

        <div class="hero__modal">
          <p class="hero__modal-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button class="hero__btn-icon--light" type="button" aria-label="jug modal open button" data-modal-product1-open>
            <svg width="7" height="7">
              <use href="./images/sprite.svg#icon-arrow-to-right"></use>
            </svg>
          </button>
        </div>
        </div>
      
<!-- hero right numbers -->
        <ul class="hero__list">
          <li class="hero__item">
            <p class="hero__item-numbers">16</p>
            <p class="hero__item-text hero__item-text--cafe">cafes</p>
          </li>
          <li class="hero__item">
            <p class="hero__item-numbers">23</p>
            <p class="hero__item-text">food trucks</p>
          </li>
        </ul>

<!-- hero pictures for positioning -->
    <div class="ice-cream__wrap">
          <picture class="ice-cream__wrap--top-img" >
          <source
            srcset="
              ./images/desktop/hero-desktop-x1.png 1x,
              ./images/desktop/hero-desktop-x2.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="./images/tablet/hero-tablet-x1.png 1x, ./images/tablet/hero-tablet-x2.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/mobile/hero-mobile-x1.png 1x, ./images/mobile/hero-mobile-x2.png 2x"
            media="(max-width: 767px)"
          />
          <img src="./images/desktop/hero-desktop-x1.png" alt="huge ice cream" />
        </picture>
      <div class="ice-cream__wrap--ellipse"></div>
    </div>

        <picture class="hero__img--left">
          <source
            srcset="./images/desktop/jug-desktop-x1.png 1x, ./images/desktop/jug-desktop-x2.png 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./images/tablet/jug-tablet-x1.png 1x, ./images/tablet/jug-tablet-x2.png 2x"
            media="(min-width: 768px)"
          />
          <img src="./images/desktop/jug-desktop-x1.png" alt="jug with milk" />
        </picture>

        <picture class="hero__img--right">
          <source
            srcset="
              ./images/desktop/hero-woman-desktop-x1.png 1x,
              ./images/desktop/hero-woman-desktop-x2.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/tablet/hero-woman-tablet-x1.png 1x,
              ./images/tablet/hero-woman-tablet-x2.png 2x
            "
            media="(min-width: 768px)"
          />
          <img src="./images/desktop/hero-woman-desktop-x1.png" alt="girl with ice cream" />
        </picture>
        </div>
    </section>
</div>
