<div class="mobile-menu is-hidden">
  <button type="button" class="menu-close__btn">
    <svg class="menu-close__icon" width="14" height="14">
      <use href="./images/sprite.svg#icon-close"></use>
    </svg>
  </button>

  <div class="moblie-menu__container">
    <button type="button" class="btn menu__btn" data-modal-open2>
      Buy now
      <svg class="menu__btn-icon" width="8" height="10">
        <use href="./images/sprite.svg#icon-arrow"></use>
      </svg>
    </button>

    <ul class="mobile-menu__list">
      <li class="mobile-menu__item">
        <a href="./index.html" class="mobile-menu__link"> Home</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#about" class="mobile-menu__link">About us</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#how-its-made" class="mobile-menu__link">How it's made</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#products" class="mobile-menu__link">Our products</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#contact" class="mobile-menu__link">Contact</a>
      </li>
    </ul>
  </div>
</div>
