<div class="backdrop2 is-hidden" data-modal2>
  <div class="modal">
    <button class="modal__close-btn" data-modal-close2>
      <svg class="modal__icon" width="18" height="18">
        <use href="./images/sprite.svg#icon-close-black"></use>
      </svg>
    </button>
    <p class="modal__title">
      Leave your details <br />
      and we call you back
    </p>
    <form class="modal__form form" autocomplete="off">
      <div class="form__input-wrap">
        <label for="user-name" class="form__field">Name</label>
        <input class="form__input" type="text" name="name" placeholder=" " id="user-name" />
        <svg class="form__icon" width="18" height="18">
          <use href="./images/sprite.svg#icon-person"></use>
        </svg>
      </div>
      <div class="form__input-wrap">
        <label for="user-tel" class="form__field">Phone number</label>
        <input class="form__input" type="tel" name="tel" placeholder=" " id="user-tel" />
        <svg class="form__icon" width="18" height="18">
          <use href="./images/sprite.svg#icon-phone"></use>
        </svg>
      </div>
      <div class="form__input-wrap">
        <label for="user-email" class="form__field">Email</label>
        <input class="form__input" type="email" name="email" placeholder=" " id="user-email" />
        <svg class="form__icon" width="18" height="18">
          <use href="./images/sprite.svg#icon-email"></use>
        </svg>
      </div>
      <div class="form__input-wrap">
        <label for="user-address-order" class="form__field">Address order</label>
        <input
          class="form__input"
          type="text"
          name="address-order"
          placeholder=" "
          id="user-address-order"
        />
        <svg class="form__icon" width="18" height="18">
          <use href="./images/sprite.svg#icon-location"></use>
        </svg>
      </div>
      <div class="form__input-wrap">
        <label class="form__field">Order details</label>
        <textarea
          class="form__textarea"
          name="comment"
          placeholder="Enter order details"
        ></textarea>
      </div>
      <label class="form__checked">
        <input class="form__checkbox visually-hidden" type="checkbox" name="policy" />
        <span class="form__check"></span>
        I agree with the newsletter and accept&nbsp;
        <a href="#" class="form_policy">Agreement conditions</a>
      </label>
      <div class="form__buttons">
        <button type="submit" class="btn form__btn form__btn--dark">Send order</button>
        <button type="reset" class="btn form__btn form__btn--light">Clear order</button>
      </div>
    </form>
  </div>
</div>
