<section class="section product__section">
  <div class="container">
    <div class="section__title-wrap">
      <p class="section__subtitle">100% natural</p>
      <h2 class="section__title" id="products">products</h2>
    </div>
    <ul class="products-list">
      <li class="products-list__item">
        <div class="wraper">
          <h3 class="products-list__title">ice cream</h3>
          <p class="products-list__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <a href="#popup2" class="products-list__btn product-open-btn">
            <svg class="product-open-btn__icon" width="20" height="20">
              <use href="images/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="products-list__item">
        <h3 class="products-list__title">ice coffee</h3>
        <p class="products-list__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <a href="#popup3" class="products-list__btn product-open-btn">
          <svg class="product-open-btn__icon" width="20" height="20">
            <use href="images/sprite.svg#arrow"></use>
          </svg>
        </a>
      </li>
      <li class="products-list__item">
        <h3 class="products-list__title">milkshakes</h3>
        <p class="products-list__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <a href="#popup4" class="products-list__btn product-open-btn">
          <svg class="product-open-btn__icon" width="20" height="20">
            <use href="images/sprite.svg#arrow"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
