.mobile-menu {
    position: fixed;
    z-index: 50;
    top: 0;
    right: 0;

    width: 250px;
    @include tab {
        width: 254px;
    }
    @include desk {
        display: none;
    }
    height: 100vh;
    padding-top: 60px;

    filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));
    background-color: var(--color-bg-modal);

    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
    transition: transform 500ms,  opacity 500ms, visibility 500ms;

    &.is-hidden {
        visibility: hidden;
        pointer-events: none;
        transform: translateX(100%);
    }
}


.menu-close__btn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
    border: none;
    background-color: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #ffffff;
    &:hover, :focus {
        color: var(--color-accent); 
    } 

    @include tab {
        margin-right: 32px;
    }
}

.menu-close__icon {
    width: 14px;
    height: 14px;
    fill: currentColor
}

.menu__btn {
    display: flex;
    font-family: var(--font-base);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    width: 209px;
    height: 44px;
    align-items: center;
    justify-content: center;
    padding-right: 48px;
    padding-left: 60px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 22px;
    border: none;
    background-color: #ffffff;
    color: var(--color-accent);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, :focus {
        background-color: #ECEBEB;
    }

    @include tab {
        width: 186px;
        padding-left: 49px;
        padding-right: 42px;
        margin-left: 34px;
        margin-right: 34px;
    }
}

.menu__btn-icon {
    display: block;
    margin-left: 27px;
    fill: var(--color-accent);

    @include tab {
        margin-left: 21px;
    }
}

.mobile-menu__link {
    display: block;
    padding-bottom: 12px;
    padding-top: 12px;
    padding-left: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, :focus {
        color: var(--color-accent);
    }
    border: 1px solid #E18298;
}