/* Оформление модалки */

.backdrop {
   z-index: 10;
   padding: 15px;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   opacity: 1;
   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
   &.is-hidden {
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
   }
}

.modal {
   margin-right: auto;
   position: relative;
   overflow: auto;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(1);
   max-width: 450px;
   max-height: 800px;
   padding: 20px 40px;
   background-color: var(--color-bg-modal);
   transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
   .backdrop.is-hidden & {
      transform: rotate(-300deg) scale(0.5);
   }
   border-radius: 20px;
   @media screen and (min-width: 768px) {
      max-width: 528px;
   }
}

/* Оформление формы */

.modal__close-btn {
   border: none;
   cursor: pointer;
   position: absolute;
   top: 8px;
   right: 8px;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   border: 1px solid #fff;
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   background: transparent;
}

.modal__icon {
      position: absolute;
      top: 5px;
      left: 5px;
      fill: #fff;
      .modal__close-btn:hover &,
      .modal__close-btn:focus & {
         fill: var(--color-accent-dark);
      }
}

.modal__title {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      margin-bottom: 12px;
      color: var(--color-accent-dark);
      font-size: 26px;
      line-height: 1.5;
      letter-spacing: 0.03em;
      font-weight: 700;
}

.form {
   width: 100%;
   overflow: auto;
}

.form__field {
   position: relative;
   display: flex;
   flex-direction: column;
   margin-bottom: 4px;
   color: var(--color-accent-dark);
   font-size: 12px;
   line-height: 1.17;
   letter-spacing: 0.01em;
   font-weight: 400;
}

.form__input {
   width: 100%;
   height: 30px;
   padding: 11px 11px 11px 40px;
   border: 1px solid rgba(33, 33, 33, 0.2);
   box-sizing: border-box;
   border-radius: 4px;
   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
   &:focus {
      border-color: var(--color-accent-dark);
      outline: none;
   }
}

.form__textarea {
   width: 100%;
   height: 100px;
   padding: 12px 16px;
   font-family: var(--font-base);
   resize: none;
   border: 1px solid rgba(33, 33, 33, 0.2);
   box-sizing: border-box;
   border-radius: 4px;
   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
   &:focus {
      border-color: var(--color-accent-dark);
      outline: none;
   }
   &::placeholder {
      font-family: var(--font-base);
      color: rgba(117, 117, 117, 0.5);
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.01em;
      font-weight: 400;
   }
}

.form__checked {
   display: flex;
   margin-top: 20px;
   color: var(--color-accent-dark);
   font-size: 12px;
   line-height: 1.4;
   letter-spacing: 0.03em;
   font-weight: 400;
   & .form_policy {
      color: var(--color-accent-dark);
      font-weight: 700;
      text-decoration: underline;
   }
   @media screen and (min-width: 1280px) {
      align-items: start;
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;
      font-weight: 400;
   }
}

.form__checkbox:checked+span {
   background-color: #fff;
   background-image: url('../images/full-check.svg');
   background-size: contain;
   background-origin: border-box;
   border-color: var(--color-accent-dark);
}

.form__check {
   display: inline-flex;
   width: 16px;
   height: 15px;
   margin-right: 8px;
   border-radius: 2px;
   border: 2px solid var(--color-accent-dark);
}

.form__input-wrap {
   position: relative;
   &:nth-child(n + 2) {
      margin-top: 10px;
   }
}

.form__icon {
   fill: var(--color-bg-modal);
   position: absolute;
   top: 50%;
   left: 20px;
   transform: translate(-50%);
   display: inline-block;
   width: 18px;
   height: 18px;
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   .form__input:focus+& {
      fill: var(--color-accent);
   }
}

.form__btn {
   color: var(--btn-color-dark);
   background-color: var(--btn-color-light);
   &:hover,
   &:focus {
   background-color: var(--btn-color-dark);
   color: var(--btn-color-light);
   }
   display: block;
   margin-top: 30px;
   margin-left: auto;
   margin-right: auto;
   font-size: 16px;
   line-height: 1.31;
   font-weight: 700;
   height: 44px;
   min-width: 130px;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__buttons {
   display: flex;
}

.modal-products {
   position: relative;
   overflow: auto;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(1);
   max-width: 450px;
   max-height: 800px;
   padding: 20px 40px;
   background-color: #ffb8ca;
   transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
   .backdrop.is-hidden & {
      transform: rotate(-300deg) scale(0.5);
   }
   border-radius: 20px;
   @media screen and (min-width: 768px) {
      width: 528px;
   }
   &--second {
      background-color: #f0d1a5;
   }
   &--third {
      background-color: #c2e297;
   }
}



.modal__products-text {
  margin-bottom: 15px;

  font-family: var(--font-base);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;

  text-align: center;
  letter-spacing: 0.04em;

  color: #ffffff;

  @include tab {
    line-height: 1.76;
  }

  @include desk {
    margin-bottom: 15px;

    font-size: 16px;
  }
}

.modal__products-title {
  position: relative;
  margin-bottom: 15px;

  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 40px;
  line-height: 1.15;

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #ffffff;

  @include desk {
    font-size: 30px;
    line-height: 1.13;
  }
}

.products__wrapper {
   text-align: center;
}

.modal__products_img {
   width: 60%;
   margin-bottom: 20px;
}