.advantages__section-bg {
    background-color: #FFF5F6;
    background-repeat: no-repeat;
    background-size: contain;
}

.advantages__title {
    position: relative;
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 36px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    color: var(--color-accent);

    margin-bottom: 6px;

    @include tab {
        font-size: 48px;
        line-height: 1.15;
        margin-bottom: 13px;
    }

    @include desk {
        font-size: 58px;
        line-height: 1.14;
        margin-bottom: 16px;
    }
}


.advantages__text {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: black;

    @include tab {
        font-size: 14px;
        line-height: 1.71;
    }

    @include desk {
        width: 288px;
        font-size: 16px;
        line-height: 1.75;
    }
}

.advantages {
    @include tab {
        display: flex;
        flex-wrap: wrap;
        margin: -8px;
    }

    @include desk {
        margin: -16px;
    }
}

.advantages__item {
    width: 230px;
    
    @media screen and (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }
    
    @include tab {
        margin: 8px;
        flex-basis: calc((100% - 128px) / 4);
    }

    @include desk {
        margin: 16px;
        flex-basis: calc((100% - 96px) / 3);
    }
}

.advantages__item::before {
    content: '';
    display: block;
    margin-bottom: 16px;
    height: 50px;

    @include tab {
        margin-bottom: 36px;
    }
    
    @include desk {
        margin-bottom: 40px;
    }
}


.advantages__item:nth-child(1) {
    background-repeat: no-repeat;
    background-image: url('../images/icon1-x1.png');


    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-size: 33px 50px;
        background-image: url('../images/icon1-x2.png');
    }
}

.advantages__item:nth-child(2) {
    background-repeat: no-repeat;
    background-image: url('../images/icon2-x1.png');

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-size: 50px 50px;
        background-image: url('../images/icon2-x2.png');
    }
}

.advantages__item:nth-child(3) {
    background-repeat: no-repeat;
    background-image: url('../images/icon3-x1.png');

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-size: 44px 50px;
        background-image: url('../images/icon3-x2.png');
    }
}
