.section--advantages-background {
    background-color: #FFF5F6;
}

.advantages__icon {
    margin-bottom: 16px;

    @include tab {
        margin-bottom: 36px;
    }

    @include desk {
        margin-bottom: 40px;
    }
}

.advantages__title {
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 36px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    color: var(--color-accent);

    margin-bottom: 6px;

    @include tab {
        font-size: 48px;
        line-height: 1.15;
        margin-bottom: 13px;
    }

    @include desk {
        font-size: 58px;
        line-height: 1.14;
        margin-bottom: 16px;
    }
}


.advantages__text {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: black;

    @include tab {
        font-size: 14px;
        line-height: 1.71;
    }

    @include desk {
        font-size: 16px;
        line-height: 1.75;
    }
}

.advantages {
    @include tab {
        display: flex;
        flex-wrap: wrap;
    }
}

.advantages__item {
    width: 230px;
    
    @media screen and (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }
    
    @include tab {
        width: 162px;
        &:not(:last-child) {
            margin-right: 22px;
        }
    }

    @include desk {
        width: 288px;
        &:not(:last-child) {
            margin-right: 142px;
        }
    }
}

