%mobile-font {
  font-family: var(--font-base);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
}

.contacts {
  padding-top: 120px;
}

.contacts-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include tab {
    flex-wrap: nowrap;
  }
}

.contacts-list__item {
  @include smartphone {
    width: 100%;
  }
  padding: 40px 32px;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 32px;
  }
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  @include tab {
    &:not(:last-child) {
      margin-right: 32px;
    }
  }
}

.contacts__сategory {
  //   @include setFont(16px, (30px / 16px), 500, 0.04em);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  @extend %mobile-font;
  color: #fff;
  width: 80px;
  height: 16px;
  border-radius: 4px;
  background-color: var(--color-bg-ice-coffee);
  @include tab {
    width: 73px;
    height: 28px;
    font-size: 16px;
  }
}

.contacts__сategory2 {
  width: 130px;
  margin-bottom: 20px;
  background-color: var(--color-bg-milkshakes);
  @extend .contacts__сategory;
  @include tab {
    width: 138px;
  }
}

.contacts__place {
  @extend %mobile-font;
  margin-bottom: 8px;
  @include tab {
    font-size: 14px;
  }
}

.contacts__category-descr {
  @extend %mobile-font;
  max-width: 180px;
  margin-bottom: 48px;
  line-height: 1.5;
  letter-spacing: normal;
  color: #907e82;
  @include tab {
    font-size: 14px;
  }
}
.schedule-outline {
  position: relative;
}

.schedule-list {
  margin-bottom: 48px;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    top: -24px;
    border: 1px solid #e1e1e1;
  }
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    bottom: -24px;
    border: 1px solid #e1e1e1;
  }
}

.contacts__work-day {
  @extend %mobile-font;
  @include tab {
    font-size: 14px;
  }
}

.contacts__work-time {
  @extend %mobile-font;
  color: var(--color-accent-medium);
  &:not(:last-child) {
    margin-bottom: 8px;
  }
  @include tab {
    font-size: 14px;
  }
}

.contact-link__wrap {
  display: flex;
  flex-direction: column;
}

.contact-phone {
  @extend %mobile-font;
  letter-spacing: normal;
  color: #907e82;
  cursor: pointer;
  @include tab {
    font-size: 14px;
  }
}

.contact-mail {
  @extend %mobile-font;
  letter-spacing: normal;
  color: #907e82;
  cursor: pointer;
  @include tab {
    font-size: 14px;
  }
}

.contact-btns-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tab {
    flex-direction: row;
  }
}

// .contact-btn {
//   width: 161px;
//   height: 44px;
//   border: none;
//   border-radius: 22px;
//   font-family: var(--font-base);
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.31;
//   &:not(:last-child) {
//     margin-bottom: 10px;
//   }
//   & .contact__btn-icon1 {
//     margin-left: 5px;
//     stroke: #fff;
//   }
//   & .contact__btn-icon2 {
//     margin-left: 10px;
//     stroke: var(--color-accent);
//   }
// }

// .btn--light {
//   color: var(--color-accent);
// }
.contacts__btn {
  height: 44px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  @include tab {
    justify-content: center;
    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 15px;
    }
  }
}

.contacts__btn--dark {
  width: 161px;

  @include tab {
    width: 192px;
  }

  @include desk {
    width: 198px;
  }
}

.contacts__btn--light {
  width: 161px;

  @include tab {
    width: 174px;
  }

  @include desk {
    width: 180px;
  }
}

.contacts__btn-icon {
  width: 4px;
  height: 8px;

  fill: currentColor;
}

.contacts__btn-icon--dark {
  margin-left: 11px;

  @include tab {
    margin-left: 14px;
  }
}

.contacts__btn-icon--light {
  margin-left: 15px;

  @include tab {
    margin-left: 14px;
  }
}
