
.swiper-slide{
    text-align: center;
}
.swiper-slide__text{
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 12px;
    line-height: 255%;
    margin-top: 32px;
    background-color: var(--color-bg-swiper);
    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 216%;
        margin-bottom: 57px;
    }
    @media screen and (min-width: 1280px) {
        font-size: 16px;
        line-height: 186%;
        margin-bottom: 16px;
    }
}
.swiper-slide__contact{
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 14px;
    line-height: 186%;  
    margin-top: 16px;
    margin-bottom: 16px;
    @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 186%;
    }
    @media screen and (min-width: 1280px) {
        font-size: 20px;
        line-height: 186%;
    }
}