.customer-reviews{
   background-color: var(--color-bg-swiper);
}
.swiper-slide{
    text-align: center; 
}
.customer-reviews__wrapper{
    margin-bottom: 30px;
  padding: 43px 50px 20px 50px;
  background-color: var(--color-bg-swiper-text);
  min-width: 280px;
  z-index: -1;
  @media screen and (min-width: 768px) {
    margin-bottom: 25px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
  }
}
.swiper-slide__text{
  position: relative;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(31 / 12);
  text-align: center;
  letter-spacing: 0.04em;

  background-image: linear-gradient(
    0deg,
    #e1e1e1 1.61%,
    transparent 1.61%,
    transparent 50%,
    #e1e1e1 50%,
    #e1e1e1 51.61%,
    transparent 51.61%,
    transparent 100%
  );
  background-size: 62px 62px;

  z-index: 1;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: calc(31 / 14);
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: calc(31 / 16);
  }

  &::before {
    content: '';
    position: absolute;
    display: block;
    top: -14px;
    left: 10px;
    width: 54px;
    height: 40px;
    background-image: url(../images/quotes.svg);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    @media screen and (min-width: 480px) {
      left: -20px;
    }
  }
}


.swiper-slide__contact{
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 14px;
    line-height: 186%;  
    margin-top: 16px;
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
        font-size: 16px;
        margin-bottom: 35px;
    }
    @media screen and (min-width: 1280px) {
        font-size: 20px;
    }
}
.swiper-slide__circle {
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.swiper-slide__circle-icon {
    border-radius: 50%;
    width: 4px;
    height: 4px;
    background: var(--color-accent-dark);
    &:not(:last-child) {
        margin-right: 10px;
    }
}

.swiper-pagination-bullet-active{
  background-image: url(../images/slider-home.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
  background-color: transparent;
  width: 13px;
  height: 13px;
}

.swiper-pagination-bullet {
    display: inline-block;
    margin: 0 6px;
    width: 12px;
    height: 12px;
  }
  .customer-reviews .swiper-pagination-horizontal{
    bottom: 0px;
    width: 100%;
  }
