// HEADER**************


.header {
    padding-top: 8px;
    z-index: 10;
    background-color: var(--color-accent-light);

    // position: relative;
    
    // &::after {
    //     bottom: -1px;
    //     content: "";
    //     width: 100%;
    //     height: 2px;
    //     position: absolute;
    //     background-color: var(--color-accent-light);
    // }

    @include tab {
        padding-top: 32px;
    }

    @include desk {
        padding-top: 40px;
    }
}

.site-nav {
    display: none;

    @include desk {
    display: flex;
    }
}

.site-nav__list {
    display: flex;
    z-index: 2;
}

.site-nav__item {
    margin-right: 35px;

    &:hover, &:focus {
        color: var(--color-accent);
    }
}

.site-nav__link {
    @include desk {
    
    color: #fff;
    font-weight: 700;
    font-size: 16px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover, &:focus {
    color: var(--color-accent);
    }
}

.header-btn__list {
    z-index: 8;

    @include tab {
        display: flex;
        align-items: center;
    }
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__btn-icon--light {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    fill: var(--color-accent);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @include desk {
    height: 26px;
    width: 26px;
    }

    &:hover, &:focus {
    background-color: #ECEBEB;
    }
}

.menu-btn {
    background: transparent;
    border: transparent;

    @include tab {
        margin-right: 32px;
    }

    @include desk {
    display: none;
    }

    // &__icon:hover, &__icon:focus {
    //     fill: #fff;
    // }
}

.menu-btn__icon {
    &:hover, &:focus {
    fill: #fff;
    }
}



.header__btn {
    display: none;

    @include tab {
        display: flex;
    }
}

.header__btn-icon {
    fill: var(--color-accent);
}

.header__btn-icon--margin {
    margin-left: 12px;
}

// HERO************

.hero {
    background-color: var(--color-accent-light);
    
    @media screen and (max-width: 386px) { 
        overflow: hidden;
    }

    @include tab {
    height: 334px;
    }

    @include desk {
        height: 574px;
    }
}

.hero-container {
    height: 100%;
    position: relative;
}

.hero-sections {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.hero__wrap {
    z-index: 7;

    @media screen and (max-width:767px) {
    padding-top: 130px;
    padding-bottom: 158px;
    }
    
    @include tab {
    padding-top: 10px;
    padding-bottom: 20px;
    }

    @include desk {
        padding-top: 49px;
    }
}

.hero__title {
    font-family: var(--font-accent);
    font-size: 26px;
    font-weight: 400;
    color: #fff;
    line-height: calc(30px / 26px);
    text-transform: uppercase;
    letter-spacing: 0.04em;
    margin-bottom: 20px;

    @include tab {
        font-size: 22px;
    }

    @include desk {
        font-size: 38px;
    }
}

.hero__title--dark-part {
    color: var(--color-accent);
    font-size: 48px;
    font-weight: 400;

    @include tab {
        font-size: 34px;
    }

    @include desk {
        font-size: 58px;
    }
}

.hero__btn {
    margin-right: 8px;
}

.hero__btn-list {
    display: flex;
}

.hero__btn-item:not(:last-child) {
    margin-right: 8px;
}

.hero__btn-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 8px;
    line-height: 1.25;
    border-radius: 20px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;

    @include desk {
    font-size: 14px;
    }
}

.hero__btn-link--dark {
    height: 24px;
    width: 62px;
    color: #fff;
    background-color: var(--color-accent);

    @include desk {
        width: 107px;
        height: 40px;
    }

    &:hover, 
    &:focus {
        background-color: var(--color-accent-dark);
    }
}

.hero__btn-link--light {
    height: 24px;
    width: 82px;
    background-color: #fff;
    color: var(--color-accent);

    @include desk {
        width: 138px;
        height: 40px;
    }

    &:hover,
    &:focus {
        background-color: #ECEBEB;
    }
}

.hero__img--left {
animation: animate30 3000ms infinite 1000ms;

&::before {
    content: ""
    }

@keyframes animate30 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(0deg);
    }
    }

    @media screen and (max-width:767px) {
        display: none;
    }

    @include tab {
        display: flex;
        position: absolute;
        bottom: 16px;
        width: 152px;
        height: 154px;
    }

    @include desk {
        width: 213px;
        height: 216px;
        bottom: 60px;
    }
}

.hero__modal {
display: none;
    @include tab {
            display: block;
            padding-left: 150px;
            margin-top: 58px;
        }
        
        @include desk {
            margin-top: 108px;
            padding-left: 229px;
            }
}


.hero__modal-text {
    width: 114px;
    font-size: 8px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 7px;
    

    @include desk {
        width: 200px;
        font-size: 14px;
}
}

.hero__list {
    display: none;

    @include tab {
        display: flex;
        flex-direction: column;
        margin-top: 18px;
    }

    @include desk {
        margin-top: 69px;
    }
}

.hero__item {
    font-size: 8px;
}

.hero__item-numbers {
    font-family: var(--font-accent);
    color: var(--color-accent);
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    
    @include desk {
    font-size: 46px;
    }
}



.ice-cream__wrap {
    position: absolute;
    top: 27px;
    left: 36px;

    @media screen and (min-width: 414px) and (max-width: 767px) {
        left: 50%;
        transform: translateX(-50%);
        height: 372px;
    }
    @include tab {
        top: -40px;
        left: 216px;
    }

    @include desk {
        left: 501px;
        top: -36px;
    }
}

.ice-cream__wrap--top-img {
    position: absolute;
    top: 9px;
    left: 81px;

    animation: animateY110 1500ms 1 200ms;

    &::before {
        content: "";
    }

    @keyframes animateY110 {
        0% {
            transform: translateY(100%);
        }

        100% {
            transform: translateY(0);
        }
    }

    @include tab {
        top: 37px;
        left: 74px;
    }

    @include desk {
        top: 54px;
        left: 119px;
    }

    &:hover+.ice-cream__wrap--ellipse {
        background-color: var(--color-bg-modal);
    }
}

.ice-cream__wrap--ellipse {
    width: 346px;
    height: 344px;
    background-color: var(--color-accent-medium);
    border-radius: 50%;
    transition: background-color 500ms linear,
    transform 500ms ease-in-out;
    
    @include tab {
        width: 335px;
        height: 333px;
    }

    @include desk {
        width: 534px;
        height: 534px;
    }  
}

.hero__img--right {
    display: none;

    animation-name: move;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    // animation-iteration-count: infinite;
    
    @keyframes move {
        0% {
            transform: translateY(100%) rotate(-90deg);
        }
    
        100% {
    
            transform: translateY(0);
        }
    }

    @include tab {
        display: block;
        position: absolute;
        bottom: 0;
        right: 32px;
        width: 190px;
        height: 150px;
    }

    @include desk {
        width: 304px;
        height: 241px;
        right: 16px;
    }
}

.hero__item:not(:last-child) {
    margin-bottom: 20px;
}

.hero__item-text {
    color: #fff;
    font-size: 8px;

    @include desk {
        font-size: 14px;
    }
}

.hero__item-text--cafe {
    padding-left: 35%;
}

.hero__item-numbers::before {
        content: "";
        position: absolute;
        left: 27px;
        bottom: 18px;
        z-index: -1;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #fff;

        @include desk {
            width: 30px;
            height: 30px;
            left: 42px;
            bottom: 28px;
        }
}