.header-hero__common-bgc {
    background-color: var(--color-accent-light);
    height: 502px;
    position: relative;

    @include tab {
        height: 416px;
    }

    @include desk {
        height: 664px;
    }
}

// HEADER**************


.header {
    padding-top: 8px;
    // z-index: 10;
    // position: relative;

    @include tab {
        padding-top: 32px;
    }

    @include desk {
        padding-top: 40px;
    }
}

.site-nav {
    display: none;

    @include desk {
        display: flex;
        color: #fff;
        font-weight: 700;
        font-size: 16px;
        
}
}

.site-nav__list {
    display: flex;

    z-index: 2;
}

.site-nav__item {
    margin-right: 35px;

    &:hover, &:focus {
        color: var(--color-accent);
    }
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__btn-icon--light {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: none;
    color: #fff;
    
}

.btn-wrap {
    @include tab {
        display: flex;
    }
}

.menu-btn {
   background: transparent;
   border: transparent;

    @include tab {
        
        margin-right: 32px;
        
    }

    @include desk {
display: none;
    }
}

.header__btn {
    display: none;

    @include tab {
        display: block;
        width: 160px;
    }
}

// HERO************

.hero {
    // position: relative;
    
    @include tab {
        height: 416px;
    }

    @include desk {
        height: 665px;
    }
}

.hero__wrap {
    position: relative;
    z-index: 7;

    @media screen and (max-width:767px) {
    padding-top: 136px;
    padding-bottom: 158px;
    }
    
    @include tab {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.hero__title {
    font-family: var(--font-accent);
    font-size: 26px;
    color: #fff;
    line-height: calc(30px / 26px);
    text-transform: uppercase;
    letter-spacing: 0.04em;
    margin-bottom: 20px;
}

.hero__title--dark-part {
    color: var(--color-accent);
    font-size: 48px;
}

.hero__btn-wrap {
    display: flex;
}

.hero__btn {
    margin-right: 8px;
//     height: 24px;

}


.hero__img--left {
 @media screen and (max-width:767px) {
        display: none;
    }

    @include tab {
        display: flex;
        position: absolute;
        top: 246px;
    }
}

.hero__modal {
display: none;
    @include tab {
            display: block;
            padding-left: 150px;
        }
        
}

.hero__modal-text {
    width: 114px;
    font-size: 8px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 7px;
}

.hero__list {
    display: none;
    @include tab {
        display: block;
    //     position: absolute;
    //     top: 93px;
    //     right: 13px ;
     }
}

.hero__item {
    font-size: 8px;
    // сolor: #fff;
}

.hero__item-numbers {
    font-family: var(--font-accent);
    color: var(--color-accent);
    font-size: 28px;
    line-height: calc (32px / 28px);
   
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}



.ice-cream__wrap {
    position: absolute;
    top: 83px;
    left: 36px;
    // width: 346px;
    // height: 419px;
    // overflow: hidden;

    @media screen and (min-width: 414px) and (max-width: 767px) {
        left: 50%;
        transform: translateX(-50%);
        height: 372px;
    }
    @include tab {
        top: 43px;
        left: 248px;
        
    }
}

.ice-cream__wrap--ellipse {
    width: 346px;
    height: 344px;
    background: var(--color-accent-medium);
    border-radius: 50%;
    overflow: hidden;

    @include tab {
        width: 335px;
        height: 333px;
    }

    @include desk {
        width: 534px;
        height: 534px;
    }
}

.ice-cream__wrap--top-img {
    position: absolute;
    top: 9px;
    left: 81px;

    @include tab {
        top: 37px;
        left: 74px;
    }
}

.hero-right {
    display: flex;
    flex-direction: column;
    
 position: absolute;
 top: 92px;
 right: 32px;

}

.hero__img--right {
    display: none;

    @include tab {
        display: block;
        // position: absolute;
        width: 190px;
        height: 150px;
    //     left: 546px;
    //     top: 265px;
    }
}

