.header-hero__common-bgc {
    background-color: var(--color-accent-light);
    height: 502px;
    position: relative;
    overflow-x: hidden;

    @include tab {
        height: 416px;
    }

    @include desk {
        height: 664px;
    }
}

// HEADER**************


.header {
    padding-top: 8px;
    z-index: 10;
    position: relative;

    @include tab {
        padding-top: 32px;
    }

    @include desk {
        padding-top: 40px;
    }
}

.site-nav {
    display: none;

    @include desk {
        display: flex;
        color: #fff;
        font-weight: 700;
        font-size: 16px;
        
}
}

.site-nav__list {
    display: flex;

    z-index: 2;
}

.site-nav__item {
    margin-right: 35px;

    &:hover, &:focus {
        color: var(--color-accent);
    }
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__btn-icon--light {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: none;
    color: #fff;
    
    @include desk {
    height: 26px;
    width: 26px;
    }

}

.btn-wrap {
    @include tab {
        display: flex;
    }
}

.menu-btn {
   background: transparent;
   border: transparent;

    @include tab {
        
        margin-right: 32px;
        
    }

    @include desk {
display: none;
    }
}

.header__btn {
    display: none;

    @include tab {
        display: block;
        width: 160px;
    }
}

// HERO************

.hero-sections {
    display: flex;
    justify-content: space-between;
}

.hero__wrap {
    position: relative;
    z-index: 7;

    @media screen and (max-width:767px) {
    padding-top: 136px;
    padding-bottom: 158px;
    }
    
    @include tab {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.hero__title {
    font-family: var(--font-accent);
    font-size: 26px;
    font-weight: 400;
    color: #fff;
    line-height: calc(30px / 26px);
    text-transform: uppercase;
    letter-spacing: 0.04em;
    margin-bottom: 20px;

    @include tab {
        font-size: 22px;
    }

    @include desk {
        font-size: 38px;
    }
}

.hero__title--dark-part {
    color: var(--color-accent);
    font-size: 48px;
    font-weight: 400;

    @include tab {
        font-size: 34px;
    }

    @include desk {
        font-size: 58px;
    }
}

.hero__btn-wrap {
    display: flex;
}

.hero__btn {
    margin-right: 8px;
}

.hero__btn-list {
    display: flex;
}

.hero__btn-item {
    margin-right: 8px;
}

.hero__btn-link {
display: flex;
justify-content: center;
align-items: center;
text-align: center;

font-size: 8px;
line-height: 1.25;
border-radius: 20px;

@include desk {
    font-size: 14px;
}
}

.hero__btn-link--dark {
height: 24px;
width: 62px;
color: #fff;
background-color: var(--color-accent);

@include desk {
    width: 107px;
    height: 40px;
}
}

.hero__btn-link--light {
    height: 24px;
    width: 82px;
    background-color: #fff;
    color: var(--color-accent);

    @include desk {
        width: 138px;
        height: 40px;
    }
}

.hero__img--left {
 @media screen and (max-width:767px) {
        display: none;
    }

    @include tab {
        display: flex;
        position: absolute;
        top: 246px;
    }

    @include desk {
        width: 213px;
        height: 216px;
        left: 16px;
        top: 388px;
    }
}

.hero__modal {
display: none;
    @include tab {
            display: block;
            padding-left: 150px;
        }
        
        @include desk {
            margin-top: 108px;
            padding-left: 229px;
            }
}


.hero__modal-text {
    width: 114px;
    font-size: 8px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 7px;
    margin-top: 58px;

    @include desk {
        width: 200px;
        font-size: 14px;
            
}
}

.hero__list {
    display: none;

    @include tab {
        display: flex;
        flex-direction: column;
   
     }
}

.hero__item {
    font-size: 8px;
   
}

.hero__item-numbers {
    font-family: var(--font-accent);
    color: var(--color-accent);
    font-size: 28px;
    line-height: calc (32px / 28px);
   
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    
    @include desk {
    font-size: 46px;
    }
}



.ice-cream__wrap {
    position: absolute;
    top: 83px;
    left: 36px;

    @media screen and (min-width: 414px) and (max-width: 767px) {
        left: 50%;
        transform: translateX(-50%);
        height: 372px;
    }
    @include tab {
        top: 43px;
        left: 248px;
    }

    @include desk {
        top: 54px;
        left: 517px;
    }
}

.ice-cream__wrap--ellipse {
    width: 346px;
    height: 344px;
    background: var(--color-accent-medium);
    border-radius: 50%;
    overflow: hidden;

    @include tab {
        width: 335px;
        height: 333px;
    }

    @include desk {
        width: 534px;
        height: 534px;
    }
}

.ice-cream__wrap--top-img {
    position: absolute;
    top: 9px;
    left: 81px;

    @include tab {
        top: 37px;
        left: 74px;
        height: 336px;
    }

    @include desk {
        height: 557px;
        top: 57px;
        left: 119px;
    }
}

.hero__right {
    display: flex;
}

.hero__img--right {
    display: none;

    @include tab {
        display: block;
        position: absolute;
        bottom: 0;
        right: 32px;
        width: 190px;
        height: 150px;
    }

    @include desk {
        width: 304px;
        height: 241px;
    }
}

.hero__item:not(:last-child) {
    margin-bottom: 20px;
}

.hero__item-text {
    color: #fff;
    font-size: 8px;
}
.hero__item-text--cafe {
    padding-left: 35%;
}

.hero__item-numbers::before {
        content: "";
        position: absolute;
        left: 32px;
        top: -4px;
        z-index: -1;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #fff;
}