// Обертка для Заголовка и подзаголовка секции
.product__section {
  position: relative;
  background: #fff;
  z-index: 0;
}

.product__subtitle {
  text-align: center;
}

.product__title {
  text-align: center;
}

.products-list {
  margin-top: 148px;

  @include tab {
    display: flex;
    margin: -8px;
    margin-top: 146px;
  }

  @include desk {
    margin: -16px;
    margin-top: 250px;
  }
}

.products-list__item {
  position: relative;
  padding: 160px 40px 40px 40px;
  margin-right: auto;
  margin-left: auto;

  border-radius: 24px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 767px) {
    max-width: 280px;
    &:not(:last-child) {
      margin-bottom: 140px;
    }
  }

  @include tab {
    padding: 118px 32px 40px 32px;
    margin: 8px;
    width: auto;
    flex-basis: calc((100% - 16px * 3) / 3);
  }

  @include desk {
    padding: 165px 75px 60px 75px;
    margin: 16px;
    flex-basis: calc((100% - 32px * 3) / 3);
  }

  &:first-child {
    background-color: #ffb8ca;
  }

  &:nth-child(2) {
    background-color: #f0d1a5;
  }

  &:last-child {
    background-color: #c2e297;
  }

  &::before {
    content: '';
    position: absolute;
    top: -140px;
    left: 50%;
    transform: translateX(-50%);

    width: 280px;
    height: 280px;

    @include tab {
      top: -138px;
      width: 224px;
      height: 224px;
    }

    @include desk {
      top: -261px;
      width: 394px;
      height: 394px;
    }
  }

  &:first-child::before {
    background-image: url(../images/mobile/ice-cream-mobile-x1.png);
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/mobile/ice-cream-mobile-x2.png);
    }

    @include tab {
      background-image: url(../images/tablet/ice-cream-tablet-x1.png);
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/tablet/ice-cream-tablet-x2.png);
      }
    }

    @include desk {
      background-image: url(../images/desktop/ice-cream-desktop-x1.png);
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/desktop/ice-cream-desktop-x2.png);
      }
    }
  }

  &:nth-child(2)::before {
    background-image: url(../images/mobile/ice-coffee-mobile-x1.png);
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/mobile/ice-coffee-mobile-x2.png);
    }

    @include tab {
      background-image: url(../images/tablet/ice-coffee-tablet-x1.png);
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/tablet/ice-coffee-tablet-x2.png);
      }
    }

    @include desk {
      background-image: url(../images/desktop/ice-coffee-desktop-x1.png);
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/desktop/ice-coffee-desktop-x2.png);
      }
    }
  }

  &:last-child::before {
    background-image: url(../images/mobile/milkshakes-mobile-x1.png);
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/mobile/milkshakes-mobile-x2.png);
    }

    @include tab {
      background-image: url(../images/tablet/milkshakes-tablet-x1.png);
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/tablet/milkshakes-tablet-x2.png);
      }
    }

    @include desk {
      background-image: url(../images/desktop/milkshakes-desktop-x1.png);
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/desktop/milkshakes-desktop-x2.png);
      }
    }
  }

  &:hover, &:focus {
      box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.4);
    }
}

.products-list__title {
  position: relative;
  margin-bottom: 70px;

  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #ffffff;

  @include desk {
    font-size: 30px;
    line-height: 1.13;
  }

  &::after {
    content: '';

    position: absolute;
    top: calc(100% + 32px);
    left: 50%;
    transform: translateX(-50%);

    display: block;
    width: 0px;
    height: 0px;

    border: 3px solid transparent;
    border-radius: 50%;

    box-shadow: 0 0 0 0 #fff, -10px 0 0 0 #fff, 10px 0 0 0 #fff;

    background-color: #fff;
  }
}

.products-list__text {
  margin-bottom: 32px;

  font-family: var(--font-base);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;

  text-align: center;
  letter-spacing: 0.04em;

  color: #ffffff;

  @include tab {
    line-height: 1.76;
  }

  @include desk {
    margin-bottom: 60px;

    font-size: 16px;
  }
}

.products-list__btn {
  margin-right: auto;
  margin-left: auto;
}

.product-open-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 0;

  background-color: #fff;
  color: var(--btn-color-dark);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--btn-color-light-accent);
    color: var(--btn-color-dark-accent);
  }
}

.product-open-btn__icon {
  fill: currentColor;
}
